click
datasets
h5py
hydra-core
hydra-submitit-launcher
hypothesis
lightning-bolts
mne-bids
nltk
numpy
omegaconf
pandas
pip
pre-commit
pytest-benchmark
pytest-cov
pytest-env
pytest-mock
pytest-rerunfailures
pytest-xdist[psutil]
pytest
python-levenshtein
pytorch-lightning
torch
scipy
setuptools
torchaudio
torchmetrics
trio
unidecode
https://github.com/kpu/kenlm/archive/master.zip
